# Systemowe
.DS_Store
Thumbs.db

# Pycache i kompilowane pliki Pythona
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Środowiska wirtualne
venv/
.env/
*.env

# Pliki IDE (np. JetBrains/PyCharm)
.idea/

# Django: bazy danych, migracje tymczasowe itp.
*.sqlite3
*.log

# Inne katalogi tymczasowe i backupy
*.bak
*.swp
*.tmp