{% extends "base.html" %}

{% block content %}
    {% if drink %}
        <h1 class="text-center my-4">Recipe</h1>

        <div class="row align-items-center mb-4">
            <div class="col-md-6">
                <img src="{{ drink.photo.url }}" class="img-fluid rounded" alt="{{ drink.name }}">
            </div>
            <div class="col-md-6">
                <h3>{{ drink.name }}</h3>
                <p>{{ drink.description }}</p><br>
                <h5>Ingridiens:</h5>
                <ul>
                    {% for ingredient in ingredients_list %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul><br>
                <h5>Instruction:</h5>
                <p>{{ drink.instructon }}</p>
            </div>
        </div>
        {% if drink.short_url %}
            <div class="my-3">
                <input type="text" id="shortUrl" class="form-control" value="{{ drink.short_url }}" readonly>
                <button class="btn btn-primary mt-2" onclick="copyShortUrl()">Copy URL</button>
            </div>

            <script>
                function copyShortUrl() {
                    var copyText = document.getElementById("shortUrl");
                    copyText.select();
                    copyText.setSelectionRange(0, 99999);
                    document.execCommand("copy");
                    alert("Copied: " + copyText.value);
                }
            </script>
        {% endif %}
        {% if user == drink.user %}
            <a href="{% url 'update_drink' drink.id %}" class="btn btn-warning btn-sm">Edytuj</a>
            <a href="{% url 'delete_drink' drink.id %}" class="btn btn-outline-danger btn-sm">Usuń</a>
        {% endif %}
    {% endif %}
{% endblock %}
